{{ define "main" }}
            {{ range .cards }}

            <a class="card my-2" href="{{ .DocURL }}" target="_blank">
                <div class="card-header h5"> {{ .Title }}</div>
                <div class="card-body">{{ .Content }}</div>
                <div class="card-footer">
                    <figure class="avatar avatar-sm">
                        <img class="s-circle"
                             src="{{ .Avatar }}">
                    </figure>
                    <span style="font-size: smaller">{{ .MpName }}</span>
                </div>
            </a>

            {{ end }}
            <!--点击加载-->
            <div class="flex-centered" id="main-end">
            <button class="btn" id="load-more" onclick="moreCards()" data="{{ .followTime }}"><i class="iconfont iconfont-down"></i> 点击加载更多</button>
            </div>
{{ end }}