
<!DOCTYPE html>
<html lang="zh">
<head>
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/spectre.css">
    <link rel="stylesheet" href="/static/css/iconfont.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="2PwK_tyircw-4c9sX-_uNQ7UxXJhqmxIVhkcAAj1z44" />
    <title>考研看看|考研微信公众号信息聚合</title>
</head>
<body>
<div>
    <header class="navbar p-fixed px-2"
            style="background-color: rgba(247,248,249,.9); z-index: 100; height: 3.5rem;width: 100%">
        <section class="hide-lg" style="width: 25%;"></section>
        <section class="navbar-section">
            <div class="navbar-brand mr-2" style="font-size: larger;"><a href="/" class="btn text-primary">考研看看</a></div>
        </section>
        <section class="navbar-section">
            <form action="/mp" method="get" id="queryMpForm">
                <div class="input-group input-inline">
                    <input class="form-input" name="name" type="text" placeholder="公众号名称">
                    <button class="btn input-group-btn" type="submit"><i class="form-icon iconfont iconfont-search"></i>
                    </button>
                </div>
            </form>
        </section>
        <section class="hide-lg"></section>
    </header>
    <div class="container py-2" id="content" style="max-width: 680px">
        <!--选项卡-->
        <ul class="tab tab-block">
            <li class="hide-lg" style="width: 25%;"></li>
            <li class="tab-item" style="padding-top: 3.8rem"><a href="/">最新文章</a></li>
            <li class="tab-item" style="padding-top: 3.8rem"><a href="/recom">推荐公众号</a></li>
            <li class="hide-lg" style="width: 25%;"></li>
        </ul>
        <!--内容-->
        <div class="container">
            {{ template "main" .}}
        </div>
    </div>
</div>
<div class="divider text-center" data-content="-"></div>
<footer class="bg-gray text-center">
    <div class="container py-2">
        <div><kbd class="bg-gray text-dark">欢迎提建议😋</kbd></div>
        <div><kbd class="bg-gray text-dark"><i class="iconfont iconfont-mail"></i> feiyu52@163.com</kbd></div>
        <div><kbd class="bg-gray text-dark"><i class="iconfont iconfont-wechat"></i> smartseer</kbd></div>
        <div class="divider"></div>
        <div><kbd class="bg-gray text-dark"><a href="http://www.beian.miit.gov.cn/">鲁ICP备19041760号-1</a></kbd></div>
        <div>
            <kbd class="bg-gray text-dark">
                <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=37080202000626" style="display:inline-block;text-decoration:none;"><img width="14px" height="14px" src="/static/img/gnbeian.png" style="float:left;"/><p style="float:left;">鲁公网安备 37080202000626号</p></a>
            </kbd>
        </div>
    </div>
</footer>
</body>
<script src="/static/js/jquery-3.4.1.min.js"></script>
<script>
    // set active class to <a>
    $(function(){
        var current = location.pathname;
        $("#content ul.tab li a").each(function(){
            var $this = $(this);
            // if the current path is like this link, make it active
            if($this.attr('href') === current){
                $this.addClass('active');
            }
        })
    });

    // get followed cards
    function moreCards() {
        let lastTime = $("#load-more").attr("data");
        $.getJSON("/posts?followTime="+lastTime, function(data) {
            let cards = data["cards"];
            let followTime = data["followTime"];
            cards.forEach(function (card) {
                let x = "";
                let part = `<a class="card my-2" href="DocURL" target="_blank"><div class="card-header h5">Title</div><div class=card-body>Content</div><div class=card-footer><figure class="avatar avatar-sm"><img class=s-circle src="Avatar"></figure> <span style="font-size: smaller">MpName<time class="float-right text-gray">TimeDiff</time></span></div></a>`;
                for (x in card) {
                    part = part.replace(x, card[x]);
                }
                $("#main-end").before(part)
            });
            $("#load-more").attr("data", followTime);
        })
    }

    // check form before post
    $("form#recomForm").submit(function (e) {
        $("label[for='MpName']").removeClass("text-error");
        $("label[for='ShareURL']").removeClass("text-error");
        if($("#MpName").val() === "") {
            e.preventDefault();
            $("label[for='MpName']").addClass("text-error");
            alert("微信公众号名不能为空，请修改");
        // } else if($("#ShareURL").val() === "") {
        //     e.preventDefault();
        //     $("label[for='ShareURL']").addClass("text-error");
        //     alert("微信文章链接不能为空，请修改");
        // } else if(!$("#ShareURL").val().startsWith("https://")) {
        //     e.preventDefault();
        //     $("label[for='ShareURL']").addClass("text-error");
        //     alert("微信文章链接不正确，请修改");
        } else {
            alert("提交成功，审核员将尽快审核")
        }
    })
</script>
</html>
