{{ define "main" }}
            <form action="" method="post" id="recomForm">
                <div class="form-group">
                    <label class="form-label" for="MpName">推荐的公众号名称</label>
                    <input class="form-input" id="MpName" name="MpName" placeholder="公众号名称">
                </div>
                <div class="form-group">
                    <label class="form-label" for="ShareURL">公众号近期一篇文章的链接（选填）</label>
                    <input class="form-input" id="ShareURL" name="ShareURL" placeholder="点击微信文章页面右上角可以找到">
                </div>
                <div class="form-group">
                    <label class="form-label" for="Reason">推荐理由（选填）</label>
                    <input class="form-input" id="Reason" name="Reason" placeholder="随便说点什么">
                </div>
                <div class="input-group">
                    <span style="width: 15%"></span>
                    <input class="btn mt-2" type="submit" style="width: 30%" placeholder="提交">
                    <span style="width: 10%"></span>
                    <input class="btn mt-2" type="reset" style="width: 30%" placeholder="清空">
                    <span style="width: 15%"></span>
                </div>
            </form>
{{ end }}